.Card-container {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #d3dfea;
  display: flex;
  align-items: center;
}

.Card-container h3 {
  margin-top: 0;
}

.Card-container a {
  color: #336699;
  text-decoration: none;
  letter-spacing: 1px;
}

.Card-container a:visited {
  color: #336699;
}

.Card-container a:hover {
  text-decoration: underline;
}

.Card-description {
  font-size: 16px;
  padding-bottom: 8px;
}

.Card-detail {
  font-size: 14px;
  padding-bottom: 2px;
}
